<div class="contain">
<hr>
<h1>All Students</h1>
<hr>
<table>
 <tr>
  <th id="thead">Register No</th>
  <th id="thead">Student Name</th>
  <th id="thead">Date Of Join</th>
  <th id="thead">District</th>
  <th id="thead">Address</th>
  <th id="thead">gender</th>
  <th>       </th>
  <th>       </th>
 </tr>
 <!-- *ngFor="let student of studentlist" -->
    <tr>
      <td id="trow">22423</td>
      <td id="trow">glen</td>
      <td id="trow">23-44-4333</td>
      <td id="trow">gerg</td>
      <td id="trow">kallingal house,mndamveli.p.o ,athipuzhi jn</td>
      <td id="trow">male</td>
      <td ><button class="btn btn-primary">Edit</button></td>
      <td ><button class="btn btn-danger">Delete</button></td>
    </tr>

    <tr>
      <td id="trow">22423</td>
      <td id="trow">glen</td>
      <td id="trow">23-44-4333</td>
      <td id="trow">gerg</td>
      <td id="trow">kallingal house,mndamveli.p.o ,athipuzhi jn</td>
      <td id="trow">male</td>
      <td ><button class="btn btn-primary">Edit</button></td>
      <td ><button class="btn btn-danger">Delete</button></td>
    </tr>


</table>
</div>
