


.container{
  padding: 5%;
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(117, 108, 108);
  border-radius: 15px;
  box-shadow:2px 2px 15px rgb(115, 112, 112);

  h1{
    color: rgb(215, 28, 28);
    font-weight: bold;
    text-align: center;

  }
  label{
    margin: 0.5em;
    font-weight: bold;
    font-size: large;

  }

}
